<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1 >
      Welcome to {{ title }}!
    </h1>
    <table>
    <th *ngFor = "let e of headers">
     {{e}}
     <input type="text" (keyup)="filter(e,$event)">
    </th>
    
    <tr *ngFor = "let e of res">
  
    <td>
        {{e.name}}
    </td>
    <td>{{e.email}}</td>
    <td>{{e.address}}</td>
  </tr>
  </table>

  </div>